@import "./common";

daidalos-app {
  display: flex;
  height: 100vh;
  margin: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 64px;
  overflow: auto;
  // height: 100%;
}

.app-bar {
  position: absolute;
}

@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
