// $mdc-theme-primary: #00376c !default;
@import "./common";
@import "@material/textfield/mdc-text-field";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

.daidalos-login {
  background-color: #FFFFFF;
  color: $mdc-theme-primary; }

.header {
  text-align: center;
}

.daidalos-logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;
  fill: currentColor;
}

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}
