$mdc-theme-primary: #00376c !default;
$mdc-theme-secondary: #00376c !default;
// $mdc-button-horizontal-padding: 0px;
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";

// .mdc-icon-button {
//   @include mdc-icon-button-ink-color($mdc-theme-primary);
// }

vaadin-grid {
  height: calc(100vh - 160px);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.details {
  display: flex;
  font-size: 20px;
}

// @import "@material/typography/mdc-typography";
// @import "@material/top-app-bar/mdc-top-app-bar";
// @import "@material/drawer/mdc-drawer";
// @import "@material/list/mdc-list";
// @import "@material/dialog/mdc-dialog";