<h1>Richtige API</h1>
<ul>
  <li><a href='contracts.json'>contracts.json</a></li>
  <li><a href='contract.json'>contract.json</a></li>
  <li><a href='contract-device.json'>contract-device.json</a></li>
</ul>
<ul>
  <li><a href='devices.json'>devices.json</a></li>
  <li><a href='devices/4925782757893.json'>devices/4925782757893.json</a></li>
</ul>
<ul>
  <li><a href='companies.json'>companies.json</a></li>
  <li><a href='companies/1.json'>companies/1.json</a></li>
</ul>
<ul>
  <li><a href='employees.json'>employees.json</a></li>
  <li><a href='employees/1.json'>employees/1.json</a></li>
</ul>